name: Job A

# on:
#   workflow_dispatch:

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  A:
    runs-on: self-hosted
    steps:
      - run: echo "Job A running" && sleep 180
