name: Job B

on:
  workflow_run:
    workflows: ["Job A"]
    types:
      - completed

jobs:
  B:
    runs-on: self-hosted
    steps:
      - run: echo "Job B running" && sleep 3

      # - name: Checkout code
      #   uses: actions/checkout@v3

      # - name: Run Fibonacci Task (Shell Script)
      #   run: |
      #     chmod +x run_fibonacci.sh
      #     ./run_fibonacci.sh
