name: Job C

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  C:
    runs-on: self-hosted
    steps:
      - run: echo "Job C running" && sleep 3
       
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Fibonacci Task (Shell Script)
        run: |
          chmod +x run_fibonacci.sh
          ./run_fibonacci.sh
